.map{
	background-color: lightskyblue;
}
.map path{
	stroke: black;
	stroke-width: 1px;
}
/* c'est les caractï¿½ristiques des chiffres */
.map text{
	fill: black;
	font: bold 15px sans-serif;
}

/* caractéritiques du tableau ContinentInfo */
.map tspan{
	font: 12px sans-serif;
}

.Oceanie{
	fill:violet;
}
.NA{
	fill:yellow;
}
.SA{
	fill:rgb(255, 0, 0);
}
.EU{
	fill:blue;
}
.Asie{
	fill:green;
}
.Afrique{
	fill:brown;
}

/* Romain fonction Abandonner */
.Abandon{
	display: none;
}
