.map{
	background-color: lightskyblue;
}
.map path{
	stroke: black;
	stroke-width: 1px;
}
/* c'est les caractéristiques des chiffres */
.map text{
	fill: black;
	font: bold 15px sans-serif;
}

.Oceanie{
	fill:violet;
}
.NA{
	fill:yellow;
}
.SA{
	fill:rgb(255, 0, 0);
}
.EU{
	fill:blue;
}
.Asie{
	fill:green;
}
.Afrique{
	fill:brown;
}

/* ne marche pas */
.GetStarted:click{
	display: none;
}

